<!DOCTYPE html>
<html>
<head>
	<title>Orion Techno</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/cover.css">
	<link rel="stylesheet" type="text/css" href="assets/css/carousel.css">
</head>
<body>
	<div class="container">

		<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
			<header class="masthead mb-auto">
				<div class="inner" >
					<!-- style="background-color:rgba(0,0,0,0.3); padding: 15px" -->
					<a class="navbar-brand" href="#">
						<img src="assets/image/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
						<span style="font-size: 14px; margin-left: 5px" >Orion Techno</span>
					</a>
					<nav class="nav nav-masthead justify-content-center">
						<a class="nav-link" href="#">About</a>
						<a class="nav-link" href="#">Service</a>
						<a class="nav-link" href="#">Portfolio</a>
						<a class="nav-link" href="#">Our Team</a>
						<a class="nav-link" href="#">Contact</a>
					</nav>
				</div>
			</header>

			<main role="main" class="inner cover">

				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
					</ol>

					<div class="carousel-inner">
						<!-- carousel 1 -->
						<div class="carousel-item active">

							<div class="row">
								<div class="col-7 mt-auto">

									<h1 class="cover-heading">Mobile Developtment</h1>
									<p class="lead">Make your custom app to help your business.</p>
									<p class="lead">
										<a href="#" class="btn btn-lg btn-secondary">Learn more</a>
									</p>
								</div>

								<div class="col-5 mt-auto ml-auto">
									<img src="assets/image/mobile.png" class="rounded mx-auto d-block" width="200px">
								</div>

							</div>
						</div>

						<!-- carousel 2 -->

						<div class="carousel-item">

							<div class="row">
								<div class="col-7 mt-auto">

									<h1 class="cover-heading">Mobile Developtment</h1>
									<p class="lead">Make your custom app to help your business.</p>
									<p class="lead">
										<a href="#" class="btn btn-lg btn-secondary">Learn more</a>
									</p>
								</div>

								<div class="col-5 mt-auto ml-auto">
									<img src="assets/image/mobile.png" class="rounded mx-auto d-block" width="200px">
								</div>

							</div>
						</div>
					</div>

				</div>

				<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>




				<!-- <div class="row">


					<div class="col-7 mt-auto">

						<h1 class="cover-heading">Mobile Developtment</h1>
						<p class="lead">Make your custom app to help your business.</p>
						<p class="lead">
							<a href="#" class="btn btn-lg btn-secondary">Learn more</a>
						</p>
					</div>

					<div class="col-5s mt-auto ml-auto">
						<img src="assets/image/mobile.png" class="rounded mx-auto d-block" width="200px">
					</div>
				</div> -->


			</main>

			<footer class="mastfoot mt-auto" style="text-align: center; font-size: 14px">
				<div class="inner">
					<p>&copy;Copyright Orion Techno 2018</p>
				</div>
			</footer>
		</div>
	</div>



	<script type="text/javascript" src="assets/js/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="assets/js/popper.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/holder.min.js"></script>
</body>
</html>